<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4" style="color: white;">Ingresar</h2>
        <div class="auto-form-wrapper">

          <form (ngSubmit)="loginUsuario()" [formGroup]="loginForm">

            <div class="form-group">
              <label class="label">Email</label>
              <div class="input-group">

                <input class="form-control"
                       formControlName="email"
                       placeholder="Email"
                       type="email">

                <div class="input-group-append">
                      <span [ngStyle]="{'color': loginForm.get('email')!.valid ? 'green' : '#b6b6b6'}"
                            class="input-group-text">
                        <i class="fa fa-check-circle"></i>
                      </span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="label">Contraseña</label>
              <div class="input-group">

                <input class="form-control"
                       formControlName="password"
                       placeholder="*****"
                       type="password">

                <div class="input-group-append">
                      <span [ngStyle]="{'color': loginForm.get('password')!.valid ? 'green' : '#b6b6b6'}"
                            class="input-group-text">
                        <i class="fa fa-check-circle"></i>
                      </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button [disabled]="loginForm.invalid" class="btn btn-primary submit-btn btn-block" type="submit" *ngIf="!loading">Login</button>
              <button [disabled]="true" class="btn btn-primary submit-btn btn-block" type="button" *ngIf="loading"><span class="fa fa-spin fa-sync"></span>Espere...</button>
            </div>


            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">No estas registrado? </span>
              <br>
              <a class="text-black text-small" routerLink="/register">Crear una cuenta</a>
            </div>

          </form>
        </div>


      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
</div>

